export(my.auc)
export(cvr.glmnet)
export(cvr.ipflasso)
export(cvr2.ipflasso)
export(ipflasso.predict)
importFrom(glmnet,cv.glmnet)
importFrom(glmnet,glmnet)
importFrom(survival,Surv)
importFrom("graphics", "abline", "legend", "par", "points")
importFrom("stats", "plogis")